body {
	font-family: 'Mina', sans-serif; 
	margin-top: 50px;
	margin-bottom: 50px;
}

 .container {
	background-color: #f0f0f5;
	padding: 30px 50px 50px 50px;
	margin-top: 20px;
} 


.top-bar {
	margin: 0 auto;
	width: 95%;
	background-color: #a3a3c2;
	padding: 20px 20px 20px 40px;
	box-shadow: 2px 3px 4px rgba(0,0,0,.5);
} 

h5 {
	font-size: 16px;
}

/* Forms */

.form-inline {
	padding: 10px;
	margin-bottom: 20px;
}

.form-check {
	padding: 3px;
}

.form-check-input {
	margin-left: 3px;
}

.form-check-label {
	margin-left: 30px;
}





